<!--đây là cái body trong layout-->
<div class="container pt-3">
  <h1 style="color : red">hello nodejs</h1>
  <h2>{{noidung}}</h2>
  <ul>
    <li>
      <a href="./product/danhmuc">Danh mục</a>
    </li>
    <li>
      <a href="./product/sanpham">Quản lý Sản phẩm</a>
    </li>
    <li>
      <a href="./product/xemsanpham">Xem sản phẩm</a>
    </li>
  </ul>
</div>

