<div class="container">
  <form method="post" class="form-group">
    <div>
      <label for="1">name</label>
      <input type="text", id="1" class="form-control" name="name">
      <label for="2">age</label>
      <input type="text", id="2" class="form-control" name="age">
    </div>
    <label for="3">name</label>
    <input type="text", id="3" class="form-control" name="name">
    <label for="4">age</label>
    <input type="text", id="4" class="form-control" name="age">
    <button type="submit" class="btn btn-primary">add</button>
  </form>
</div>